name: Typecheck

on:
  pull_request:
    branches:
      - master
      - dev

jobs:
  Typecheck:
    runs-on: ubuntu-latest
    name: Check Typescript errors
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npx nuxi typecheck
